<div class='span2'></div>
<div class='span8'>
<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <%= f.input :email %><br />
      <%= f.input :password %><br />
      <%= f.input :password_confirmation %>
      <%= f.submit 'submit' %>
<% end %>
</div>
<div class='span2'></div>